<div id="main_nav"
    class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <div class="my-0 mr-md-auto font-weight-normal">
        <h1 class="header-title">Address Book</h1>
    </div>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLinkActive="active" routerLink="contacts">All Contacts</a>
        <a class="p-2 text-dark" routerLinkActive="active" routerLink="create-new-contact">Create New Contact</a>
    </nav>
</div>