<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Contacts</h1>
</div>

<div class="table-responsive">
	<table class="table" id="contactTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
                <th>Phone #</th>
                <th>Email</th>
                <th class="textAlign">Action</th>				
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let contact of contacts; let i = index">
				<td>{{contact.fname}}</td>
                <td>{{contact.lname}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <td class="textAlign">
					<i class="fa fa-pencil-square-o" (click)="onEditContact(contact)"
					aria-hidden="true"  title="Edit contact"></i>
					<i class="fa fa-trash-o" aria-hidden="true"  title="Delete Contact"
                    (click)="deleteContact(contact.id)"></i>
                </td>     
			</tr>
		</tbody>
	</table>
</div>

